 <article id="products">
      {{#each products}}
<article class="container" id="products">
 <div class="card" style="width: 18rem;">
  <img src="{{thumbnail}}" class="card-img-top">
  <div class="card-body">
    <h2 class="card-title">{{title}}</h2>
    <p class="card-text">{{description}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Price: {{price}}$</li>
    <li class="list-group-item">Disponibilidad: {{stock}}</li>
  </ul>
  <div class="card-body">
  <button onclick="addToCart('{{this.id}}')" class="btn btn-primary">Agregar al carrito</button>
  </div>
</div>
</article>
{{/each}}
</article>



     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/socket.io"></script>
    <script type = "text/javascript"  src="../public/js/products.js"></script>