 <article id="products">
      {{#each products}}
<article class="container" id="products">
 <div class="card" style="width: 18rem;">
  <img src="{{thumbnail}}" class="card-img-top">
  <div class="card-body">
    <h2 class="card-title">{{title}}</h2>
    <p class="card-text">{{description}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Price: {{price}}$</li>
    <li class="list-group-item">Disponibilidad: {{stock}}</li>
  </ul>
  <div class="card-body">
  <button onclick="addToCart('652ad4b674c70461616407cc','{{id}}')" class="btn btn-primary">Agregar al carrito</button>
  </div>
</div>
</article>
{{/each}}
</article>


<footer style="width: 100%; bottom: 0; position: fixed; padding-top: 2px; bottom: 0; padding-top: 0px;">
  <div style="text-align: center; ">
    {{#each pageNumbers}}
      {{#if this.isCurrent}}
        <a style="text-align: center; font-size: 22px;" href="{{null}}">{{this.number}}</a>
      {{/if}}
      {{#if this.isPrevious}}
        <a style="text-align: center; font-size: 22px;" href="{{this.link}}">{{this.number}}</a>
      {{/if}}
      {{#if this.isNext}}
        <a style="text-align: center; font-size: 22px;" href="{{this.link}}">{{this.number}}</a>
      {{/if}}
    {{/each}}
  </div>
</footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type = "text/javascript"  src="/js/products.js"></script>

  


