{{> navbar}}
<main>

<section>
	<table>
		<tbody>
<thead>
    <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Correo</th>
        <th>Rol</th>
        <th class="hiddeable">ID</th>
        <th class="hiddeable">ID Carrito</th>
        <th>Acción</th>
    </tr>
</thead>
			{{#each users}}
				<tr>
					<td>
						{{first_name}}

					</td>
					<td>
						{{last_name}}

					</td>
					<td>
						{{email}}

					</td>
					<td>
						{{role}}

					</td>
					<td class="hiddeable">
						{{_id}}
					</td>
					<td class="hiddeable">
						{{cart}}
					</td>
					<td style="display: flex; flex-direction:column; gap:8px">
						<button onclick="rolUser('{{_id}}')">
							Cambiar Rol
						</button>
						<button style="background-color: red;" onclick="deleteUser('{{_id}}')">
							Eliminar
						</button>

					</td>
				</tr>
			{{/each}}
		</tbody>
	</table>
</section>

</main>
<script src="js/users.js"></script>
